<head>
  <title>twitterApp</title>
</head>

<body>
  <h1>Twitter Application</h1>

  {{> loginButtons}}
  {{#if currentUser}}

  	<h1>RSS Reader</h1>

	{{> form}}
	{{> showFeeds}}
	<div>
		
	</div>
  	{{> tweetsOps}}
  {{/if}}
</body>

<template name="form">
	<form id="go-form" class="form-horizontal">
		<div class="controls-row">
			<input class="span10" id="feed" placeholder="e.g. http://g00glen00b.be/feed" type="text" />
			<button class="span2 btn" id="getFeed" type="submit">
				Go!
			</button>
		</div>
	</form>
</template>

<template name="showFeeds">
	{{#each entries}}
	    <article>
			<header>
				<h3>{{title}} <small>{{formatDate pubDate}}</small></h3>
			</header>
			{{{description}}}
			<footer>
				<a href="{{link}}">Lees meer &raquo;</a>
			</footer>
		</article>
    {{/each}}
</template>

<template name="tweetsOps">
	<div class="panel panel-default">
		<div>
			<div class="col-md-2">
				<p>What is in your mind? </p>
			</div>
			<div class="col-md-3">
				<input type="text" id="tweetPost">
				<button id="postTwitter">post on twitter</button>
				<button id="postFacebook">post on facebook</button>
			</div>
		</div>
		<div class="col-md-2">
			<p>Search for: </p>
		</div>
		<div class="col-md-3">
			<input type="text" id="keyword">
			<button id="searchTwitter">search twitter</button>
		</div>
		<div class="panel-body">
			<ul class="pagination">
				<table class="table table-bordered">
					<tbody>
						{{#each tweets}}
							<tr>
								<td class="col-md-5">
									<div class="col-md-5">{{text}}</div>
								</td>
								<td class="col-md-1">
									<div class="col-md-1">{{source}}</div>
								</td>
								<td class="col-md-2">
									<select class="form-control" id="tweetstatus">
										<option value={{status}}>{{status}}</option>
										{{#each tweetsstatus status}}
				        					<option value="{{this}}">{{this}}</option>
				    					{{/each}}
							  		</select>
							  	</td>
							  	<td class="col-md-2">
							  		<button id="updateTweetStatus">Update Status</button>
							  	</td>
							  	{{#if lat}}
								  	<td>
								  		<button id="showMap">Show Google map</button>
								  	</td>
							  	{{/if}}
					  		</tr>
						{{/each}}
					</tbody>
			  	</table>
			</ul>
		</div>
	</div>
</template>

<template name="mapModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">GMap for the tweet</h4>
                </div>

                <div class="modal-body">
                	<div class="map-container">
                    	{{> googleMap name="gMap" options=defineGoogleMap}}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>